.center-div
  = current_user.email | 
  = link_to "Sign Out", destroy_user_session_path, :method => :delete
%br
= render :partial => "pie_chart"
%br
%h2 Reachable Targets 
= link_to "Want to list all Appliances?", appliances_path
%br
= will_paginate @targets
%table.table.table-striped
  %tr
    %th
      = 'Appliance ID'
    %th
      = 'Hostname'
    %th
      = 'Address'
    %th
      = 'Status'
  - @targets.each do |target|
    %tr
      %td
        = link_to target.appliance.name, appliance_path(target.appliance_id)
      %td
        = target.hostname
      %td
        = target.address
      %td
        - if target.is_alive
          = 'Reachable'
        - else
          = 'Un-reachable'
 
